 
  
    <div class="row mt-2 sticky-top bg-white">
      <div class="col-lg-2">
        <h1  class="display-6"><i class="fas fa-comment"></i>  It's me
        </h1>
      </div>
      <div class="col-lg-8 mt-2">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <input type="search" class="form-control bg-light" 
                          style="border:none;border:0;border-radius:25px;" placeholder="Search"/>
    
          </div>
        </div>
          </div>
      <div class="col-lg-2 mt-2">
        <div class="row ">
          <div class="col-lg-3">
            {% if user.is_authenticated %}
            <a href="{% url "account_logout" %}" class="btn btn-danger">
              Logout
            </a>
            {% else %} 
              <a href="{% url 'account_login'%}" class="btn btn-sm btn-light mr-2">Login</a>
            {% endif %}
          </div> 
        </div>
      </div> 
    </div>
