{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-5 border-bottom">
                <h3>Add a Post</h3>
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-xs-12 col-sm-12 col-md-5 border-bottom">
               <form method="post">
                {% csrf_token %}
                {{ form |crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-dark mt-3">
                        Share
                    </button>
                </div>
               </form>
            </div>
        </div>
        {% for post in post_list  %}
        <div class="row justify-content-center">
            <div class="col-md-6 col-ms-12 border-bottom position-relative">
                <p><strong>{{post.author}}</strong> {{post.created_on}}</p>
                <p>{{ post.body }}</p>
                <a class="stretched-link" href="{% url 'post-view' post.pk %}"></a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}